.main{
    width: 700px;
    height: 700px;
    border: 3px solid #000;
    padding: 10px;
    margin: auto;
    align-content: center;
}
h1{
    font-family:  sans-serif;
    font-style: normal;
}
hr{
    border: none;
    height: 2px;
    color: #000;
    background-color: #000;
}
input{
    width: 99%;
    height: 30px;
    border: 2px solid #000;
}
tr.btn td{
    border-bottom: 1px solid #000;
    text-align: center;

}

#table{
    width: 100%;
}

.strikeThrough:checked + td {
    text-decoration:line-through
  }